# python
__pycache__/
*.py[cod]

# build
.Python
build/
dist/
*.egg-info/

# miscelleanous
.DS_Store

# development
.idea/*
.vscode

# Testing
.pytest_cache/
test_output/

# Environment
*.env
*.venv
!EXAMPLE.env
.python-version

# Credentials
private*.json
token*.json
