# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Miscelleanous
.DS_Store

# JetBrains IDE project files
.idea/*

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Testing
test/test_output/
private*.json
token*.json
.env
