# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# JetBrains IDE project files
.idea/*

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Testing
examples/test_output/
examples/private.json
examples/token.json
