attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.7
idna==3.3
iniconfig==1.1.1
packaging==21.0
pluggy==0.13.1
py==1.10.0
pyaml==21.10.1
pyparsing==2.4.7
pytest==6.2.5
python-dotenv==0.19.1
PyYAML==6.0
rauth==0.7.3
requests==2.26.0
stringcase==1.2.0
toml==0.10.2
urllib3==1.26.7
yahoo-oauth==1.1
