# Include the README
include README.md

# Include the license file
include LICENSE.txt

# Include dependency lists
include requirements.txt
include dev-requirements.txt

# Include test code and resources
include test/test.py
include test/EXAMPLE-private.json
